In [1]:
import pandas as pd

In [2]:
#Importing libraries
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import warnings
import numpy as np
warnings.filterwarnings("ignore")
print("The modules are imported")

#Importing dataset
df=pd.read_csv("vgsales.csv")
df.head(-5)

The modules are imported

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16709,15 Days,PC,2009.0,Adventure,DTP Entertainment,0.00,0.01,0.00,0.00,0.01,63.0,6.0,5.8,8.0,DTP Entertainment,NaN
16710,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,NaN,NaN,tbd,NaN,Atari,T
16711,Aiyoku no Eustia,PSV,2014.0,Misc,dramatic create,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16712,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16713,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(16719, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year_of_Release,16450.0,2006.487356,5.878995,1980.00,2003.00,2007.00,2010.00,2020.00
NA_Sales,16719.0,0.263330,0.813514,0.00,0.00,0.08,0.24,41.36
EU_Sales,16719.0,0.145025,0.503283,0.00,0.00,0.02,0.11,28.96
JP_Sales,16719.0,0.077602,0.308818,0.00,0.00,0.00,0.04,10.22
Other_Sales,16719.0,0.047332,0.186710,0.00,0.00,0.01,0.03,10.57
Global_Sales,16719.0,0.533543,1.547935,0.01,0.06,0.17,0.47,82.53
Critic_Score,8137.0,68.967679,13.938165,13.00,60.00,71.00,79.00,98.00
Critic_Count,8137.0,26.360821,18.980495,3.00,12.00,21.00,36.00,113.00
User_Count,7590.0,162.229908,561.282326,4.00,10.00,24.00,81.00,10665.00

In [6]:
df.describe(include = ['O'])

,Name,Platform,Genre,Publisher,User_Score,Developer,Rating
count,16717,16719,16717,16665,10015,10096,9950
unique,11562,31,12,581,96,1696,8
top,Need for Speed: Most Wanted,PS2,Action,Electronic Arts,tbd,Ubisoft,E
freq,12,2161,3370,1356,2425,204,3991

In [7]:
df.isnull().sum().sum()

46716

In [8]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [9]:
df.nunique()

Name               11562
Platform              31
Year_of_Release       39
Genre                 12
Publisher            581
NA_Sales             402
EU_Sales             307
JP_Sales             244
Other_Sales          155
Global_Sales         629
Critic_Score          82
Critic_Count         106
User_Score            96
User_Count           888
Developer           1696
Rating                 8
dtype: int64

In [10]:
# Selecting categorical columns
categorical_columns = df.select_dtypes(include=["object"]).columns
df_Cat = df[categorical_columns]
# Selecting numerical columns
numerical_columns = df.select_dtypes(include=["float64"]).columns
df_Num = df[numerical_columns]

In [11]:
missing_values_count = df.isnull().sum()

print(df.isnull().sum())

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [12]:
df_Num["Year_of_Release"].fillna(df_Num["Year_of_Release"].quantile(0.50),inplace = True)

In [13]:
df_Cat.dropna(subset=['Publisher','Name'], inplace =True)

In [14]:
missing_values_count = df_Num.isnull().sum()

print(df_Num.isnull().sum())

Year_of_Release       0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Count         9129
dtype: int64

In [15]:
missing_values_count = df_Cat.isnull().sum()

print(df_Cat.isnull().sum())

Name             0
Platform         0
Genre            0
Publisher        0
User_Score    6656
Developer     6576
Rating        6720
dtype: int64

In [16]:
print('Before  Mode Imputation Categorical Values:')
summary_before_imputation= df_Cat.describe().round(2).transpose()
print(summary_before_imputation)

Before  Mode Imputation Categorical Values:
            count unique                          top  freq
Name        16663  11514  Need for Speed: Most Wanted    12
Platform    16663     31                          PS2  2159
Genre       16663     12                       Action  3364
Publisher   16663    581              Electronic Arts  1356
User_Score  10007     96                          tbd  2423
Developer   10087   1695                      Ubisoft   204
Rating       9943      8                            E  3989

In [17]:
imputed_dfcat= df_Cat.fillna(df_Cat.mode().iloc[0])

In [22]:
print('after  Mode Imputation Categorical Values:')
summary_after_imputation= imputed_dfcat.describe().round(2).transpose()
print(summary_after_imputation)

after  Mode Imputation Categorical Values:
            count unique                          top   freq
Name        16663  11514  Need for Speed: Most Wanted     12
Platform    16663     31                          PS2   2159
Genre       16663     12                       Action   3364
Publisher   16663    581              Electronic Arts   1356
User_Score  16663     96                          tbd   9079
Developer   16663   1695                      Ubisoft   6780
Rating      16663      8                            E  10709

In [23]:
missing_values_count = imputed_dfcat.isnull().sum()

print(imputed_dfcat.isnull().sum())

Name          0
Platform      0
Genre         0
Publisher     0
User_Score    0
Developer     0
Rating        0
dtype: int64

In [26]:
print('Before  Median Imputation Numerical Values:')
summary_before_imputation= df_Num.describe().round(2).transpose()
print(summary_before_imputation)

Before  Median Imputation Numerical Values:
                   count     mean     std      min      25%      50%      75%  \
Year_of_Release  16719.0  2006.50    5.83  1980.00  2003.00  2007.00  2010.00
NA_Sales         16719.0     0.26    0.81     0.00     0.00     0.08     0.24
EU_Sales         16719.0     0.15    0.50     0.00     0.00     0.02     0.11
JP_Sales         16719.0     0.08    0.31     0.00     0.00     0.00     0.04
Other_Sales      16719.0     0.05    0.19     0.00     0.00     0.01     0.03
Global_Sales     16719.0     0.53    1.55     0.01     0.06     0.17     0.47
Critic_Score      8137.0    68.97   13.94    13.00    60.00    71.00    79.00
Critic_Count      8137.0    26.36   18.98     3.00    12.00    21.00    36.00
User_Count        7590.0   162.23  561.28     4.00    10.00    24.00    81.00

                      max
Year_of_Release   2020.00
NA_Sales            41.36
EU_Sales            28.96
JP_Sales            10.22
Other_Sales         10.57
Global_Sales        82.53
Critic_Score        98.00
Critic_Count       113.00
User_Count       10665.00

In [27]:
imputed_df= df_Num.fillna(df_Num.median())

In [28]:
print('After  Median Imputation Numerical Values:')
summary_after_imputation= imputed_df.describe().round(2).transpose()
print(summary_after_imputation)

After  Median Imputation Numerical Values:
                   count     mean     std      min      25%      50%      75%  \
Year_of_Release  16719.0  2006.50    5.83  1980.00  2003.00  2007.00  2010.00
NA_Sales         16719.0     0.26    0.81     0.00     0.00     0.08     0.24
EU_Sales         16719.0     0.15    0.50     0.00     0.00     0.02     0.11
JP_Sales         16719.0     0.08    0.31     0.00     0.00     0.00     0.04
Other_Sales      16719.0     0.05    0.19     0.00     0.00     0.01     0.03
Global_Sales     16719.0     0.53    1.55     0.01     0.06     0.17     0.47
Critic_Score     16719.0    70.01    9.78    13.00    71.00    71.00    71.00
Critic_Count     16719.0    23.61   13.51     3.00    21.00    21.00    21.00
User_Count       16719.0    86.75  384.38     4.00    24.00    24.00    24.00

                      max
Year_of_Release   2020.00
NA_Sales            41.36
EU_Sales            28.96
JP_Sales            10.22
Other_Sales         10.57
Global_Sales        82.53
Critic_Score        98.00
Critic_Count       113.00
User_Count       10665.00

In [29]:
missing_values_count = imputed_df.isnull().sum()

print(imputed_df.isnull().sum())

Year_of_Release    0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Count         0
dtype: int64

In [30]:
df_filled= pd.concat([imputed_df,imputed_dfcat], axis=1)
df_filled.head()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count,Name,Platform,Genre,Publisher,User_Score,Developer,Rating
0,2006.0,41.36,28.96,3.77,8.45,82.53,76.0,51.0,322.0,Wii Sports,Wii,Sports,Nintendo,8,Nintendo,E
1,1985.0,29.08,3.58,6.81,0.77,40.24,71.0,21.0,24.0,Super Mario Bros.,NES,Platform,Nintendo,tbd,Ubisoft,E
2,2008.0,15.68,12.76,3.79,3.29,35.52,82.0,73.0,709.0,Mario Kart Wii,Wii,Racing,Nintendo,8.3,Nintendo,E
3,2009.0,15.61,10.93,3.28,2.95,32.77,80.0,73.0,192.0,Wii Sports Resort,Wii,Sports,Nintendo,8,Nintendo,E
4,1996.0,11.27,8.89,10.22,1.00,31.37,71.0,21.0,24.0,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo,tbd,Ubisoft,E

In [31]:
df_filled.shape

(16719, 16)

In [32]:
type(df_filled)

pandas.core.frame.DataFrame

In [33]:
# Convert float to datetime for temporal analysis
df_filled['Year_of_Release'] =pd.to_datetime(df_filled['Year_of_Release'], format='%y', errors="coerce")

In [35]:
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year_of_Release  0 non-null      datetime64[ns]
 1   NA_Sales         16719 non-null  float64
 2   EU_Sales         16719 non-null  float64
 3   JP_Sales         16719 non-null  float64
 4   Other_Sales      16719 non-null  float64
 5   Global_Sales     16719 non-null  float64
 6   Critic_Score     16719 non-null  float64
 7   Critic_Count     16719 non-null  float64
 8   User_Count       16719 non-null  float64
 9   Name             16663 non-null  object
 10  Platform         16663 non-null  object
 11  Genre            16663 non-null  object
 12  Publisher        16663 non-null  object
 13  User_Score       16663 non-null  object
 14  Developer        16663 non-null  object
 15  Rating           16663 non-null  object
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 2.0+ MB